/* Estilos para el body */
body {
  background-color: #333333;
  margin: 0;
  padding: 1rem;
}

/* Estilos para el encabezado principal */
h1#desc {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00ff66;
}

/* Estilos para el input */
input#author {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #000000;
  margin-right: 1rem;
  color: #000000;
  background-color: #cccccc;
}

/* Estilos para el botón */
button.add_row {
  background-color: #00ff66;
  border: none;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* Estilos para la tabla */
table {
  margin-top: 10px;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 800px;
}

table th,
table td {
  border: 1px solid #000;
  padding: 0.5rem;
  text-align: center;
}

table th {
  font-weight: bold;
  color: #00ff66;
  background-color: #444444;
  border-radius: 0.5rem 0.5rem 0 0;
  border: none;
}

/* Estilos para la sección de información de blueprints */
#totalBlueprints,
#nameBlueprint {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #00ff66;
}

/* Estilos para el canvas */
canvas#Canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  background-color: #ffffff;
}
